body {
    background-color: #0a0a0a;
}

div.container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

div.box {
    color: white;
    margin: 20px;
    background-color: #383838;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #424242;
}

#downloads-per-date {
    text-align: center;
}

#game-icon > img {
    width: 200px;
    height: 200px;
}

#game-icon {
    padding: 0;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    overflow: hidden;
}
