<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Statistics</title>

    <script src="../static/js/showTables.js"></script>
    <script src="../static/js/searchBar.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    
    <link rel="icon" type="image/png" href="../static/icons/icon.png">
</head>
<body>
    <h1>Download Statistics</h1>

    <div class="stats">
        <div>Total Downloads: {{total_downloads}}</div>
    </div>

    <div class="table-buttons">
        <button onclick="showTable('allContainer', 10)">Show Top 10</button>
        <button onclick="showTable('allContainer', 100)">Show Top 100</button>
        <button onclick="showTable('allContainer', 500)">Show Top 500</button>
        <button onclick="showTable('allContainer', 'all')">Show All</button>
    </div>

    <div class="container">
        <div class="table-container" id="allContainer" style="display: block;">
            <h2>All Downloads</h2>
            <input type="text" id="allSearch"
                onkeyup="searchTable('all')"
                placeholder="Search All Downloads..."
            >
            <table id="allTable">
                <thead>
                    <tr>
                        <th>Title ID</th>
                        <th>Name</th>
                        {# <th>Type</th> #}
                        {# <th>Size (bytes)</th> #}
                        <th>Downloads</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tid, data in downloads.items() %}
                        {% if loop.index <= 10 %}
                            <tr class="top-10">
                        {% elif loop.index <= 100 %}
                            <tr class="top-10 top-100">
                        {% elif loop.index <= 500 %}
                            <tr class="top-10 top-100 top-500">
                        {% else %}
                            <tr class="top-10 top-100 top-500 after-500">
                        {% endif %}
                                <td><a href="/{{tid}}">{{tid}}</a></td>
                                <td>{{data['infos']['name']}}</td>
                                {# <td>{%if 'name' in data['infos']%} base {%else%} ? {%endif%}</td> #}
                                {# <td>{%if 'size' in data['infos']%} {{data['infos']['size']}} {%else%} ? {%endif%}</td> #}
                                <td>{{data['count']}}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
